@using CoreOAIPexam;
@model CoreOAIPexam.Auto

<div class="row justify-content-lg-cehter">
    <h1>Add new car</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div class="form-group">
                <label asp-for="name" class="control-label">Название</label>
                <input asp-for="name" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="model" class="control-label">Кузов</label>
                <input asp-for="model" class=" form-control" />
            </div>
            <div class="form-group">
                <label asp-for="characteristic" class="control-label">Описание</label>
                <input asp-for="characteristic" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class=" btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to projects list</a>
</div>